PORT=4000
JWT_SECRET=your_jwt_secret_here
CORS_ORIGIN=http://localhost:3000,http://localhost:19006

USER_SERVICE_HOST=user-service
USER_SERVICE_PORT=4001

PRODUCT_SERVICE_HOST=product-service
PRODUCT_SERVICE_PORT=4002

ORDER_SERVICE_HOST=order-service
ORDER_SERVICE_PORT=4003

MQ_SERVICE_HOST=mq-service
MQ_SERVICE_PORT=4004

SEARCH_SERVICE_HOST=search-service
SEARCH_SERVICE_PORT=4005

AUTH_SERVICE_HOST=auth-service
AUTH_SERVICE_PORT=4006
